body {
    background-color: white;
    color: black;
}

/* TITLE */
.title {
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

/* SUBTITLE */
.subtitle {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 18px;
}

/* HEADINGS */
h1, h2, h3 {
    font-family: Arial;
    color: black;
}

/* MAIN CONTENT AREA */
section {
    background-color: white;
}

/* SIDEBAR */
[data-testid="stSidebar"] {
    background-color: white;
}

/* REMOVE STREAMLIT BLUE STYLING */
.stApp {
    background-color: white;
}

/* TEXT IN SIDEBAR */
.stSidebar, .stRadio label {
    color: black;
}

/* MAP BORDER (optional clean look) */
iframe {
    border: 1px solid black;
}
