.title {
    text-align: center;
    color: #0a4f6e;
    font-size: 40px;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    color: #2c7da0;
    margin-bottom: 20px;
}

section {
    background-color: #f5f9ff;
}

h1, h2, h3 {
    font-family: Arial;
}

.stSidebar {
    background-color: #eaf4ff;
}